:root {
    --background-color: #131223;
    --green-color: #38C496;
    --primary-text: #FFFFFF;
    --secondary-text: #C5C5C5;
    --secondary-text-dark: #8A8A8A;
    --gradient-start: #38C496;
    --gradient-end: #336AFF;

}

* {
    color: var(--primary-text) !important;
}

html, body {
    background-color: var(--background-color) !important; 
    min-height: 100vh;
}

h1 {
    font-size: 48px !important;
    font-family: Poppins;
    letter-spacing: 0%;
    line-height: 1.2;
}

p {
    font-size: 16px;
    font-family: Inter;
    letter-spacing: 0%;
    line-height: 1.5;
    color: var(--primary-text) !important;
}

.navbar {
    background-color: var(--background-color) !important;
}

.card {
    background-color: var(--background-color) !important;
}




#navbar-title {
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    font-size: 20px !important;
    font-family: Poppins;
    letter-spacing: 0%;
    line-height: 1.2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent !important;
}

#portfolio-title-name {
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent !important;
}

#portfolio-subtitle {
    font-size: 24px !important;
    font-family: Poppins;
    letter-spacing: 0%;
    line-height: 1.4;
}

#get-in-touch-button {
    background: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    color: var(--primary-text) !important;
}

.profile-avatar {
    width: 150px;
    height: 150px;
    background: #2D2D3A;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-avatar img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#github-button {    
    background-color: var(--background-color) !important;
    border: 1px solid var(--primary-text) !important;
    color: var(--primary-text) !important;
}

#projects {
    font-size: 48px !important;
    font-family: Poppins;
    letter-spacing: 0%;
    line-height: 1.2;
}

#salesforce-title {
    font-size: 32px !important;
    font-family: Poppins;
    letter-spacing: -0.03em;
    line-height: 1.3;
}

#salesforce-text{
    font-size: 24px !important;
    font-family: Poppins;
    letter-spacing: -0.03em;
    line-height: 1.4;
}





